<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @event.semester %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<br>

<% if @event.users.nil? %>
<% else %>
<h2 class="sub-header">Attenders</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uin</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Membership</th>
      <th>Shirt</th>
      <th>Classification</th>
      <th>Dynasty</th>
      <th>Points</th>
    </tr> 
  </thead>

  <tbody>
    <% @eventusers.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.uin %></td>
        <td><%= user.tel %></td>
        <td><%= user.email %></td>
        <td><%= user.membership %></td>
        <td><%= user.shirt %></td>
        <td><%= user.classification %></td>
        <td><%= user.dynasty %></td>
        <td><%= user.points %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
      <%= will_paginate @eventusers %>
<% end %>

<br>
<p class="btn btn-default" role="button"><%= link_to 'Back', register_user_path(@use) %></p>